<h1>Modifica Libro</h1>

<form [formGroup]="formModifica" (ngSubmit)="confermaModifiche()">
    <hr>

    <mat-form-field>
        <mat-label>ID</mat-label>
        <input matInput type="number" [disabled]="true" formControlName="id">
    </mat-form-field>

    <br>

    <mat-form-field>
        <mat-label>Titolo</mat-label>
        <input matInput type="text" formControlName="titolo">
    </mat-form-field>

    <br>

    <mat-form-field>
        <mat-label>Autore</mat-label>
        <input matInput type="text" formControlName="autore">
    </mat-form-field>

    <br>

    <mat-form-field>
        <mat-label>Tipo</mat-label>
        <mat-select name="tipo" id="idTipo" formControlName="tipo">
            <mat-option value="guida">Guida Utente</mat-option>
            <mat-option value="manuale">Manuale</mat-option>
        </mat-select>
    </mat-form-field>

    <br>

    <button mat-raised-button color="primary" type="submit">Conferma</button>
    <button mat-raised-button color="basic" [routerLink]="['/Elenco']">Indietro</button>
</form>